body{
background-color: cyan;
}
#cabecera{
  position: relative;
  width: auto;
  height: 100px;
  background-color: green;
}


.numeros {
top:113px;
left:350px;
width:300px;
margin-top:10px;
background-color:#ffff55;
}


#columna1 {
position:absolute;
top:113px;
left:350px;
width:500px;
margin-top:10px;
background-color:#orange;
}
#columna2 {
margin-left:850px;
margin-right:20px;
margin-top:10px;
background-color:#orange;
}
